version: '3.8'

services:
  currency-exchange:
    build: ./currency-exchange
    ports:
      - "8291:8291"
    depends_on:
      - mysqldb
  mysqldb:
    image: mysql:latest
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: currency_exchange_db
      MYSQL_ROOT_USER: anurag
      MYSQL_ROOT_PASSWORD: garg